################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FinalWorkConnectProject/.vs
/FinalWorkConnectProject/FinalWorkConnectProject/obj
/FinalWorkConnectProject/FinalworkConnectProject.Application/obj
/FinalWorkConnectProject/FinalWorkConnectProject.Domain/obj
/FinalWorkConnectProject/FinalWorkConnectProject.Infrastructure/obj
/FinalWorkConnectProject/FinalWorkConnectProject/bin/Debug/net8.0
/FinalWorkConnectProject/FinalworkConnectProject.Application/bin/Debug/net8.0
/FinalWorkConnectProject/FinalWorkConnectProject.Domain/bin/Debug/net8.0
/FinalWorkConnectProject/FinalWorkConnectProject.Infrastructure/bin/Debug/net8.0
