################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FinalWorkConnectProject/.vs
/FinalWorkConnectProject/FinalWorkConnectProject/obj
/FinalWorkConnectProject/FinalWorkConnectProject/Properties
/FinalWorkConnectProject/FinalworkConnectProject.Application/obj
/FinalWorkConnectProject/FinalWorkConnectProject.Domain/obj
/FinalWorkConnectProject/FinalWorkConnectProject.Infrastructure/obj
/FinalWorkConnectProject
